<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<head>
    <title>403 Access Denied</title>
</head>
<body>
<div class="container-fluid">
    <div class="row col-sm-6>
    <h1>Access Denied</h1>
    <p>You not have permission to view this resource.</p>
    <a style="color: blue" th:href="@{/}">Home</a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </div>
</div>

</form>
</body>
</html>