<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>ToDoMon - gotta do 'em all</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<h1>Welcome to ToDoMon</h1>
<a style="color: blue" th:href="@{/main}">User Page</a>
<br />
<a style="color: blue" th:href="@{/admin}">Admin Page</a>
</body>
</html>