<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todomon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <h1>Todomon pool(0)</h1>

    <div class = "todoPool">
            <table class="table table-bordered table-striped" id="todoPoolItems">
                <thead>
                <tr>
                    <th>Taskinumero</th>
                    <th>Taskin nimi</th>
                    <th>Taskin desc</th>
                    <th>Taskin kategoria</th>
                    <th>Taskin luoja</th>

</tr>
</thead>
<tbody>
<tr th:each="item : ${todomonpool0}">
<td th:text="${itemStat.count}"></td>
<td th:text="${item.task}"></td>
<td th:text="${item.description}"></td>
<td th:text="${item.category}"></td>
    <td th:text="${item.users.getUsername()}"></td>

</tr>
</tbody>
</table>


</div>

    <hr/>

    <h1>Todomon ToDo(1)</h1>

    <div class = "toDoLista">
        <table class="table table-bordered table-striped" id="todoItems">
            <thead>
            <tr>
                <th>Taskinumero</th>
                <th>Taskin nimi</th>
                <th>Taskin desc</th>
                <th>Taskin kategoria</th>
                <th>Taskin luoja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${todo1}">
                <td th:text="${itemStat.count}"></td>
                <td th:text="${item.task}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.category}"></td>
                <td th:text="${item.users.getUsername()}"></td>
            </tr>
            </tbody>
        </table>

    </div>


    <hr/>

    <h1>Todomon in progress(2)</h1>

    <div class = "doingLista">
        <table class="table table-bordered table-striped" id="progressItems">
            <thead>
            <tr>
                <th>Taskinumero</th>
                <th>Taskin nimi</th>
                <th>Taskin desc</th>
                <th>Taskin kategoria</th>
                <th>Taskin luoja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${inprogress2}">
                <td th:text="${itemStat.count}"></td>
                <td th:text="${item.task}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.category}"></td>
                <td th:text="${item.users.getUsername()}"></td>
            </tr>
            </tbody>
        </table>


    </div>

<hr/>

    <h1>Todomon done</h1>

    <div class = "doneLista">
        <table class="table table-bordered table-striped" id="doneItems">
            <thead>
            <tr>
                <th>Taskinumero</th>
                <th>Taskin nimi</th>
                <th>Taskin desc</th>
                <th>Taskin kategoria</th>
                <th>Taskin luoja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${donelista3}">
                <td th:text="${itemStat.count}"></td>
                <td th:text="${item.task}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.category}"></td>
                <td th:text="${item.users.getUsername()}"></td>
            </tr>
            </tbody>
        </table>


    </div>


<div class="todomonAdd">
<h1>Todomon add</h1>
<div class="todoForm">
<form class="form-put" th:action="@{/luotaski}" th:object="${newitem}" method="POST">
<div class="form-group">
<label for="inputItemName" class="col-sm-2">Taskin nimi</label>
<div class="col-sm-10">
    <input type="text" th:field="*{task}" class="form-control" id="inputItemName" placeholder="Taskin nimi"/>
</div>
</div>
<div class="form-group">
<label for="inputDescription" class="col-sm-2">Taskin kuvaus</label>
<div class="col-sm-10">
    <input type="text" th:field="*{description}" class="form-control" id="inputDescription" placeholder="Taskin nimi"/>
</div>
</div>

<div class="form-group">
<label for="inputCategory" class="col-sm-2">Taskin kategoria</label>
<div class="col-sm-10">
    <input type="text" th:field="*{category}" class="form-control" id="inputCategory" placeholder="Taskin kategoria"/>
</div>
</div>

<button type="submit" class="put-button">Lisää taski</button>

</form>
</div>
</div>


    <div class="todomonDel">
        <h1>Todomon remove</h1>
        <form class="form-delete" th:action="@{/poistataski}" th method="DELETE" placeholder="Poista roskat">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit" id="deleteButton">Delli neloset</button>
        </form>
    </div>


</div>

<!-- Nämä täällä koska page load -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/bootstrap.min.js"></script>

</body>
</html>